body {
    font-family: Arial, 'Times New Roman', sans-serif;
    color: black;
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

.gray-color {
    color: gray;
}

.table-without-border > table > tbody > tr > td {
    border: none;
}

.main-table > table, tr, td {
    width: 1240px;
}

.header-left {
    width: 50%;
    text-align: left;
    border: 1px dashed grey;
}

.header-left > p {
    padding: 0;
    margin: 3px;
}

.header-right {
    width: 50%;
    text-align: right;
    border: 1px dashed grey;
}
.header-right > img {
    height: 125px;
}

.customer > table tr td {
    border: 1px solid black;
}

.customer p {
    margin: 0;
}

.customer .barcode img {
    float: right;
    width: 200px;
    height: 50px;
}

.notes {
}

.qr-code img {
    float: right;
    width: 100px;
    height: 100px;
}

.parameters table {
    width: 100%;
}

.parameters table td {
    border: 1px solid black;
}

.parameters p {
    margin: 0;
}

.other {
}

.other-details p {
    margin: 0;
}

.other-details table {
    width: 100%;
}

.other-details table td {
    border: 1px solid black;
}

.processors p {
    margin: 0;
}

.processors table {
    width: 100%;
}

.antibody-results {
    text-align: center;
}
